<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='play_photon.css') }}">
    <script src="{{ url_for('static', filename='play_photon.js') }}"></script>
    <title>Set Up Players</title>
</head>
<body>
    <div class="container">
        <h1>Set Up Players</h1>

        <h1>Start Game</h1>
    <form id="startGameForm">
        <label for="transmitter_id">Transmitter ID:</label>
        <input type="text" id="transmitter_id" name="transmitter_id"><br>
        <label for="hit_id">Hit ID:</label>
        <input type="text" id="hit_id" name="hit_id"><br>
        <button type="button" onclick="startGame()">Start Game</button>
    </form>

    <script>
        function startGame() {
            var transmitter_id = document.getElementById("transmitter_id").value;
            var hit_id = document.getElementById("hit_id").value;
            var data = {
                "transmitter_id": transmitter_id,
                "hit_id": hit_id
            };
            
            fetch('/play_photon/start_game', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
       

        <!-- Blue Team Input Boxes -->
        <div id="blue-container" class="team-container">
            <h2>Blue Team</h2>
            <input class="player-input" type="text" placeholder="Enter player name">
            <input class="player-input" type="text" placeholder="Enter player name">
            <input class="player-input" type="text" placeholder="Enter player name">
        </div>

        <!-- Red Team Input Boxes -->
        <div id = "red-container" class="team-container">
            <h2>Red Team</h2>
            <input class="player-input" type="text" placeholder="Enter player name">
            <input class="player-input" type="text" placeholder="Enter player name">
            <input class="player-input" type="text" placeholder="Enter player name">
        </div>
    </div>

    <!-- Save Button -->
    <div class="button-container">
        <!-- Save Button -->
        <button onclick="start_game()" id="save-button">Start Game</button>
    </div>
</body>
</html>
