<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='game.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <title>Player Tables</title>
    <script>
        // Define a JavaScript variable with the image URL
        const imageURLs = [
            "{{ url_for('static', filename='blue-team.jpg') }}",
            "{{ url_for('static', filename='Waluigi.png') }}",
            "{{ url_for('static', filename='Walter.jpg') }}",
            "{{ url_for('static', filename='SamPitt.jpg') }}",
            "{{ url_for('static', filename='SwagBob.jpg') }}",
            "{{ url_for('static', filename='RobloxGuy.jpeg') }}",
            "{{ url_for('static', filename='money.jpg') }}",
            "{{ url_for('static', filename='Kanye.png') }}",
            "{{ url_for('static', filename='Hands.jpg') }}",
            "{{ url_for('static', filename='F-35.jpg') }}",
            "{{ url_for('static', filename='Dog.jpg') }}",
            "{{ url_for('static', filename='Cade.jpg') }}",
        ];
    </script>
</head>
<body>
    <div class="table-container">
        <table id="table1">
            <thead>
                <tr>
                    <th class="player-column">Player</th>
                    <th class="name-column">Name</th>
                    <th class="score-column">Score</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be dynamically generated here -->
            </tbody>
        </table>
    
        <table id="table2">
            <thead>
                <tr>
                    <th class="player-column">Player</th>
                    <th class="name-column">Name</th>
                    <th class="score-column">Score</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be dynamically generated here -->
            </tbody>
        </table>
    </div>
    
</body>
</html>
