/* styles.css */

/* Set the image to take up the full screen */
img {
    width: 75%;
    height: 75%;
}

/* Center the image horizontally and vertically */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


